{% extends "base.html" %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="card m-3">
        <div class="card-header">
            <div>Informações Gerais:</div>
        </div>
        <div class="card-body">
            <div>Hostname: {{ computer_name }}</div>
            <div>Uso de CPU: {{ cpu_percent }}</div>
            <div>Memoria Total: {{ virtual_memory.total }}</div>
            <div>Memoria Disponivel: {{ virtual_memory.available }}</div>
            <div>Memoria Usada: {{ virtual_memory.used }}</div>
            <div>Memoria Livre: {{ virtual_memory.free }}</div>
            <div>Memoria Percentual: {{ virtual_memory.percent }}</div>
            <div class="chart">
                <canvas id="memory"></canvas>
            </div>
            <div class="chart">
                <canvas id="cpu"></canvas>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap">
        {% for disk in disk_partitions %}
            <div class="card m-3">
                <div class="card-header">
                    <div>device: {{ disk.device }}</div>
                </div>
                <div class="mx-1">total: {{ disk.usage.total }}</div>
                <div class="mx-1">used: {{ disk.usage.used }}</div>
                <div class="mx-1">free: {{ disk.usage.free }}</div>
                <div class="card-body">
                    <div>mount point: {{ disk.mountpoint }}</div>
                    <div>fs type: {{ disk.fstype }}</div>
                    <div>opts: {{ disk.opts }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        const memoryCtx = document.getElementById('memory');
        const cpuCtx = document.getElementById('cpu');

        console.log( [{{cpu_free}}, {{ cpu_percent }}])

        const memoryData = {
            datasets: [{
                data: [{{ virtual_memory.free }}, {{ virtual_memory.used }}],
                backgroundColor: [
                    'rgb(150, 235, 150)',
                    'rgb(255, 062, 035)',
                ],
                hoverOffset: 4
            }]
        };
        const cpuData = {
            datasets: [{
                data: [{{cpu_free}}, {{ cpu_percent }}],
                backgroundColor: [
                    'rgb(150, 235, 150)',
                    'rgb(255, 062, 035)',
                ],
                hoverOffset: 4
            }]
        };

        new Chart(memoryCtx, {
            type: 'doughnut',
            data: memoryData
        });
        new Chart(cpuCtx, {
            type: 'doughnut',
            data: cpuData
        });

    </script>
{% endblock content %}
