{% extends "base.html" %}
{% load static %}

{% block head_bottom %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock head_bottom %}

{% block content %}
    <div class="mainView">
        <div class="hero-image-wrapper">
            <img class="hero" src="{% static 'images/background.jpg' %}"/>
        </div>
        <div class="hero-text-wrapper">
            <h1 class="title">Bem-vindo ao {{ computer_name }}</h1>
            <p class="description">Este é um sistema de gerenciamento de arquivos e documentos.</p>
        </div>
    </div>
    <div class="movie-wrapper">
        {% for video in video_list %}
        <video class="movie" controls>
            <source src="{% static  video.path  %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endfor %}
    </div>
{% endblock content %}
