{% load static %}
<html>
	<head>
		<title>{{computer_name}}</title>
		<link href="{% static 'css/video.css' %}" rel="stylesheet" />
	</head>
	<body>
		<div class="form-container">
			<form class="form" action="/video/" method="post" enctype="multipart/form-data">
				{% csrf_token %} {{ form }}
				<input class="submit-button" type="submit" value="Fazer upload" />
			</form>
		</div>
		<div class="table-container">
			<table class="table">
				<thead class="table-head">
					<tr>
						<th class="table-head-column">ID</th>
						<th class="table-head-column">Titulo</th>
						<th class="table-head-column">Status</th>
						<th class="table-head-column">File Name</th>
						<th class="table-head-column">Youtube Id</th>
					</tr>
				</thead>
				<tbody>
					{% for video in videos %}
					<tr class="table-row">
						<td class="column-container">
							<div class="table-cell">{{ video.id }}</div>
						</td>
						<td class="column-container">
							<div class="table-cell">{{ video.title }}</div>
						</td>
						<td class="column-container">
							<div class="table-cell">{{ video.status }}</div>
						</td>
						<td class="column-container">
							<div class="table-cell">{{ video.file_name }}</div>
						</td>
						<td class="column-container">
							<div class="table-cell">{{ video.youtube_id }}</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
