{% extends "base.html" %}
{% block content %}
    <div class="controllers">
        <div class="card my-2">
            <div class="card-body">
                <form action="{% url 'new_video' %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.errors }}
                        <label class="form-label" for="{{ form.name.id_for_label }}">Nome do video:</label>
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        {{ form.title.errors }}
                        <label class="form-label" for="{{ form.title.id_for_label }}">Titulo do video:</label>
                        {{ form.title }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.errors }}
                        <label class="form-label" for="{{ form.description.id_for_label }}">Descrição do video:</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        {{ form.keywords.errors }}
                        <label class="form-label" for="{{ form.keywords.id_for_label }}">Tags do video:</label>
                        {{ form.keywords }}
                    </div>
                    <div class="mb-3">
                        {{ form.type.errors }}
                        <label class="form-label" for="{{ form.type.id_for_label }}">Tipo de video:</label>
                        {{ form.type }}
                    </div>
                    <div class="mb-3">
                        {{ form.file.errors }}
                        <label class="form-label" for="{{ form.file.id_for_label }}">Arquivo do video:</label>
                        {{ form.file }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <input class="btn btn-primary" type="submit" value="Fazer upload" />
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-toggle="modal"
                                data-bs-target="#templateModal">Templates</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="templateModal"
         tabindex="-1"
         aria-labelledby="templateModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="templateModalLabel">Template</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <div>Template</div>
                        <select id="template" class="form-select">
                            <option value="default">-</option>
                            <option value="solare-ranked">Solare Ranked</option>
                            <option value="solare-practice">Solare Treino</option>
                            <option value="backup">Backup</option>
                        </select>
                        <div id="template-option">
                            <div id="default"></div>
                            <div id="solare-ranked">
                                <div>
                                    <div>Time 1</div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 1:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player1" class="form-control" value="DragaoVermelho" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class1" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option {% if class_option.value == "Witch" %}selected{% endif %}
                                                                value="{{ class_option.value }}">
                                                            {{ class_option.label }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 2:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class2" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 3:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player3" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class3" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>Time 2</div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 1:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player4" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class4" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 2:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player5" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class5" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 3:</div>
                                            <div class="col-sm-8">
                                                <input id="ranked-player6" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="ranked-class6" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="applySolareRankedTemplate()">Aplicar</button>
                                </div>
                            </div>
                            <div id="solare-practice">
                                <div>
                                    <div>Time 1</div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 1:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player1" class="form-control" value="DragaoVermelho" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class1" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option {% if class_option.value == "Witch" %}selected{% endif %}
                                                                value="{{ class_option.value }}">
                                                            {{ class_option.label }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 2:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class2" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 3:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player3" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class3" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div>Time 2</div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 1:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player4" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class4" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 2:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player5" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class5" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Personagem 3:</div>
                                            <div class="col-sm-8">
                                                <input id="practice-player6" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-form-label">Classe:</div>
                                            <div class="col-sm-8">
                                                <select id="practice-class6" class="form-select">
                                                    {% for class_option in class_options %}
                                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="applySolarePracticeTemplate()">Aplicar</button>
                                </div>
                            </div>
                            <div id="backup">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary" onclick="applyBackupTemplate()">Aplicar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block body_bottom %}
    <script type="text/javascript">
        $('#template').change(function () {
            $('#' + this.value)
                .show()
                .siblings()
                .hide()
        })

        $('#template').change()
    </script>
    <script type="text/javascript">
        function applySolareRankedTemplate() {
            const player1 = $('#ranked-player1').val()
            const player2 = $('#ranked-player2').val()
            const player3 = $('#ranked-player3').val()
            const player4 = $('#ranked-player4').val()
            const player5 = $('#ranked-player5').val()
            const player6 = $('#ranked-player6').val()

            const class1PT = $('#ranked-class1 option:selected').text().trim()
            const class1EUA = $('#ranked-class1 option:selected').val().trim()

            const class2PT = $('#ranked-class2 option:selected').text()
            const class2EUA = $('#ranked-class2 option:selected').val()

            const class3PT = $('#ranked-class3 option:selected').text()
            const class3EUA = $('#ranked-class3 option:selected').val()

            const class4PT = $('#ranked-class4 option:selected').text()
            const class4EUA = $('#ranked-class4 option:selected').val()

            const class5PT = $('#ranked-class5 option:selected').text()
            const class5EUA = $('#ranked-class5 option:selected').val()

            const class6PT = $('#ranked-class6 option:selected').text()
            const class6EUA = $('#ranked-class6 option:selected').val()

            const description1 = 'Adentre o mundo virtual do Black Desert Online e mergulhe de cabeça em uma batalha competitiva como nenhuma outra!'
            const description2 = `Testemunhe o embate eletrizante na Arena Solare, onde o Time composto por ${player1}(${class1PT}), ${player2}(${class2PT}) e ${player3}(${class3PT}), trava uma batalha épica contra o resiliente Time composto por ${player4}(${class4PT}), ${player5}(${class5PT}) e ${player6}(${class6PT}).`
            const description3 = 'Dos combos impressionantes às táticas surpreendentes, esta luta promete deixar você à beira do assento enquanto a busca pela glória se desenrola diante de seus olhos.'
            const description4 = `Upload realizado em: ${new Date().toLocaleString()}`
            const description5 = 'Personalize a facetexture de seu jogo através do link: https://www.kawori.site/'
            $('#id_title').val('Gladiadores do Deserto: Luta Alucinante na Arena Solare de Black Desert Online!')
            $('#id_description').val(
                `${description1}\n${description2}\n${description3}\n\n${description5}\n${description4}`
            )
            $('#id_keywords').val(
                `Black Desert Online,Arena Solare,Luta Competitiva,Batalha Épica,${player1},${player2},${player3},${player4},${player5},${player6},PvP,Estratégia,Combate,MMO,Jogo Online,Ação,Emoção,${class1PT},${class1EUA},${class2PT},${class2EUA},${class3PT},${class3EUA},${class4PT},${class4EUA},${class5PT},${class5EUA},${class6PT},${class6EUA},`
            )
            $('#id_name').val(`Ranked-${player1} ${player2} ${player3} Vs ${player4} ${player5} ${player6}`)
            $('#id_type').val(0)
            $('#templateModal').modal('hide')
        }
        function applySolarePracticeTemplate() {
            const player1 = $('#practice-player1').val()
            const player2 = $('#practice-player2').val()
            const player3 = $('#practice-player3').val()
            const player4 = $('#practice-player4').val()
            const player5 = $('#practice-player5').val()
            const player6 = $('#practice-player6').val()

            const class1PT = $('#practice-class1 option:selected').text().trim()
            const class1EUA = $('#practice-class1 option:selected').val().trim()

            const class2PT = $('#practice-class2 option:selected').text()
            const class2EUA = $('#practice-class2 option:selected').val()

            const class3PT = $('#practice-class3 option:selected').text()
            const class3EUA = $('#practice-class3 option:selected').val()

            const class4PT = $('#practice-class4 option:selected').text()
            const class4EUA = $('#practice-class4 option:selected').val()

            const class5PT = $('#practice-class5 option:selected').text()
            const class5EUA = $('#practice-class5 option:selected').val()

            const class6PT = $('#practice-class6 option:selected').text()
            const class6EUA = $('#practice-class6 option:selected').val()

            const description1 = 'Sinta a adrenalina em uma luta de treinamento na Arena Solar de Black Desert Online! '
            const description2 = `Testemunhe o embate eletrizante na Arena Solare, onde o Time composto por ${player1}(${class1PT}), ${player2}(${class2PT}) e ${player3}(${class3PT}), trava uma batalha épica contra o resiliente Time composto por ${player4}(${class4PT}), ${player5}(${class5PT}) e ${player6}(${class6PT}).`
            const description3 = 'Mergulhe nas táticas, combos e movimentos refinados enquanto esses guerreiros se preparam para desafios ainda maiores.'
            const description4 = `Upload realizado em: ${new Date().toLocaleString()}`
            const description5 = 'Personalize a facetexture de seu jogo através do link: https://www.kawori.site/'
            $('#id_title').val('Aprimorando Habilidades: Confronto na Arena Solar - Black Desert Online!')
            $('#id_description').val(
                `${description1}\n${description2}\n${description3}\n\n${description5}\n${description4}`
            )
            $('#id_keywords').val(
                `Black Desert Online, Arena Solar, Treinamento, Luta de Treinamento,${player1},${player2},${player3},${player4},${player5},${player6},PvP,Estratégia,Combate,MMO,Jogo Online,Ação,Emoção,${class1PT},${class1EUA},${class2PT},${class2EUA},${class3PT},${class3EUA},${class4PT},${class4EUA},${class5PT},${class5EUA},${class6PT},${class6EUA},`
            )
            $('#id_name').val(`Treinamento-${player1} ${player2} ${player3} Vs ${player4} ${player5} ${player6}`)
            $('#id_type').val(1)
            $('#templateModal').modal('hide')
        }
        function applyBackupTemplate() {
            const date = new Date().toLocaleString()
            $('#id_title').val(`Backup realizado em ${date}`)
            $('#id_description').val(`Backup realizado em ${date}`)
            $('#id_keywords').val('storage,backup')
            $('#id_name').val(`Backup realizado em ${date}`)
            $('#id_type').val(2)
            $('#templateModal').modal('hide')
        }
    </script>
{% endblock body_bottom %}
