{% extends "base.html" %}
{% block content %}
    <div class="card my-4">
        <a href="{% url 'new_video' %}" role="button" class="btn btn-secondary">Novo</a>
        <div class="card-body table-container my-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Youtube Privacidade</th>
                        <th scope="col">Publicado em</th>
                        <th scope="col">Visualizações</th>
                        <th scope="col">Arquivo de base</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr>
                            <th scope="row">
                                <div>{{ video.id }}</div>
                            </th >
                            <td>
                                <div>{{ video.name }}</div>
                            </td>
                            <td>
                                <div>{{ video.type }}</div>
                            </td>
                            <td>
                                <div>{{ video.status }}</div>
                            </td>
                            <td>
                                <div>{{ video.privacy }}</div>
                            </td>
                            <td>
                                <div>{{ video.publish_at|date:"d/m/Y H:i" }}</div>
                            </td>
                            <td>
                                <div>{{ video.view_count }}</div>
                            </td>
                            <td>
                                <div>{{ video.file_base }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if videos.has_other_pages %}
                <nav aria-label="Navegação tabela video">
                    <ul class="pagination justify-content-end">
                        {% if videos.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="?page={{ videos.previous_page_number }}"
                                   tabindex="-1">Anterior</a>
                            </li>
                        {% endif %}
                        {% for page_number in videos.paginator.page_range %}
                            {% if videos.number == page_number %}
                                <li class="page-item">
                                    <a class="page-link" href="#">{{ page_number }}<span class="sr-only">(Atual)</span></a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if videos.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ videos.next_page_number }}">Proxima</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock content %}
