{% load static %}
<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="description" content="Video" />
        <meta name="referrer" content="origin-when-cross-origin">
        <meta name="viewport"
              content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="robots" content="none">
        <title>{{ computer_name }}</title>
        <link href="{% static 'css/video.css' %}" rel="stylesheet" />
        <script src="{% static 'vendor/jquery.min.js' %}"></script>
    </head>
    <body>
        <div class="controllers">
            <div class="form-container">
                <form class="form"
                      action="{% url 'video' %}"
                      method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input class="submit-button" type="submit" value="Fazer upload" />
                </form>
            </div>
            <div class="form-container">
                <div class="title">Template</div>
                <select id="template">
                    <option value="default">-</option>
                    <option value="solare">Solare</option>
                </select>
                <div id="template-option">
                    <div id="default"></div>
                    <div id="solare">
                        <div class="team">
                            <div>Time 1</div>
                            <div class="player">
                                <div>Personagem 1:</div>
                                <input id="player1" value="DragaoVermelho" />
                                <div>Classe:</div>
                                <select id="class1">
                                    {% for class_option in class_options %}
                                        <option {% if class_option.value == "Witch" %}selected{% endif %}
                                                value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="player">
                                <div>Personagem 2:</div>
                                <input id="player2" />
                                <div>Classe:</div>
                                <select id="class2">
                                    {% for class_option in class_options %}
                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="player">
                                <div>Personagem 3:</div>
                                <input id="player3" />
                                <div>Classe:</div>
                                <select id="class3">
                                    {% for class_option in class_options %}
                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="team">
                            <div>Time 2</div>
                            <div class="player">
                                <div>Personagem 1:</div>
                                <input id="player4" />
                                <div>Classe:</div>
                                <select id="class4">
                                    {% for class_option in class_options %}
                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="player">
                                <div>Personagem 2:</div>
                                <input id="player5" />
                                <div>Classe:</div>
                                <select id="class5">
                                    {% for class_option in class_options %}
                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="player">
                                <div>Personagem 3:</div>
                                <input id="player6" />
                                <div>Classe:</div>
                                <select id="class6">
                                    {% for class_option in class_options %}
                                        <option value="{{ class_option.value }}">{{ class_option.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button onclick="applySolareTemplate()">Aplicar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th class="table-head-column">ID</th>
                        <th class="table-head-column">Nome</th>
                        <th class="table-head-column">Status</th>
                        <th class="table-head-column">File Name</th>
                        <th class="table-head-column">Youtube Id</th>
                        <th class="table-head-column">Youtube Privacidade</th>
                        <th class="table-head-column">Arquivo de base</th>
                    </tr>
                </thead>
                <tbody>
                    {% for video in videos %}
                        <tr class="table-row">
                            <td class="column-container">
                                <div class="table-cell">{{ video.id }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.name }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.status }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.file_name }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.youtube_id }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.privacy }}</div>
                            </td>
                            <td class="column-container">
                                <div class="table-cell">{{ video.file_base }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript">
        $('#template').change(function () {
            $('#' + this.value)
                .show()
                .siblings()
                .hide()
        })

        $('#template').change()
    </script>
    <script type="text/javascript">
        function applySolareTemplate() {
            const player1 = $('#player1').val()
            const player2 = $('#player2').val()
            const player3 = $('#player3').val()
            const player4 = $('#player4').val()
            const player5 = $('#player5').val()
            const player6 = $('#player6').val()

            const class1PT = $('#class1 option:selected').text()
            const class1EUA = $('#class1 option:selected').val()

            const class2PT = $('#class2 option:selected').text()
            const class2EUA = $('#class2 option:selected').val()

            const class3PT = $('#class3 option:selected').text()
            const class3EUA = $('#class3 option:selected').val()

            const class4PT = $('#class4 option:selected').text()
            const class4EUA = $('#class4 option:selected').val()

            const class5PT = $('#class5 option:selected').text()
            const class5EUA = $('#class5 option:selected').val()

            const class6PT = $('#class6 option:selected').text()
            const class6EUA = $('#class6 option:selected').val()

            const description1 = 'Adentre o mundo virtual do Black Desert Online e mergulhe de cabeça em uma batalha competitiva como nenhuma outra!'
            const description2 = `Testemunhe o embate eletrizante na Arena Solare, onde o Time composto por ${player1}(${class1PT}), ${player2}(${class2PT}) e ${player3}(${class3PT}), trava uma batalha épica contra o resiliente Time composto por ${player4}(${class4PT}), ${player5}(${class5PT}) e ${player6}(${class6PT}).`
            const description3 = 'Dos combos impressionantes às táticas surpreendentes, esta luta promete deixar você à beira do assento enquanto a busca pela glória se desenrola diante de seus olhos.'
            const description4 = `Upload realizado em: ${new Date().toLocaleString()}`
            const description5 = 'Personalize a facetexture de seu jogo através do link: https://www.kawori.site/'
            $('#id_title').val('Gladiadores do Deserto: Luta Alucinante na Arena Solare de Black Desert Online!')
            $('#id_description').val(
                `${description1}\n${description2}\n${description3}\n\n${description5}\n${description4}`
            )
            $('#id_keywords').val(
                `Black Desert Online,Arena Solare,Luta Competitiva,Batalha Épica,${player1},${player2},${player3},${player4},${player5},${player6},PvP,Estratégia,Combate,MMO,Jogo Online,Ação,Emoção,${class1PT},${class1EUA},${class2PT},${class2EUA},${class3PT},${class3EUA},${class4PT},${class4EUA},${class5PT},${class5EUA},${class6PT},${class6EUA},`
            )
            $('#id_name').val(`${player1} ${player2} ${player3} Vs ${player4} ${player5} ${player6}`)
        }
    </script>
</html>
