{% extends "base.html" %}
{% block content %}
    <div class="card m-3">
        <div class="card-header">
            <div>Informações Gerais:</div>
        </div>
        <div class="card-body">
            <div>Hostname: {{ computer_name }}</div>
            <div>Uso de CPU: {{ cpu_percent }}</div>
            <div>Memoria Total: {{ virtual_memory.total }}</div>
            <div>Memoria Disponivel: {{ virtual_memory.available }}</div>
            <div>Memoria Usada: {{ virtual_memory.used }}</div>
            <div>Memoria Livre: {{ virtual_memory.free }}</div>
            <div>Memoria Percentual: {{ virtual_memory.percent }}</div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        {% for disk in disk_partitions %}
            <div class="card m-3">
                <div class="card-header">
                    <div>device: {{ disk.device }}</div>
                </div>
                <div class="mx-1">total: {{ disk.usage.total }}</div>
                <div class="mx-1">used: {{ disk.usage.used }}</div>
                <div class="mx-1">free: {{ disk.usage.free }}</div>
                <div class="card-body">
                    <div>mount point: {{ disk.mountpoint }}</div>
                    <div>fs type: {{ disk.fstype }}</div>
                    <div>opts: {{ disk.opts }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
