{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="description" content="Video" />
        <meta name="referrer" content="origin-when-cross-origin">
        <meta name="viewport"
              content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="robots" content="none">
        <script src="{% static 'vendor/jquery-3.7.0.min.js' %}"></script>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"></link>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block title %}
        <title>{{ computer_name }}</title>
    {% endblock title %}
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">{{ computer_name }}</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'video' %}">Video</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="content-body">
        {% block content %}
        {% endblock content %}
    </div>
</body>
{% block body_bottom %}
{% endblock body_bottom %}
</html>
